<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div id="app">
  <div v-if="list1.length > 0" style="float: left; width: 40%">
    <h2>List 1</h2>
    <ul v-for="item in list1">
      <li>{{ item }}</li>
    </ul>
    <button id="button1" @click="transfer(list1, list2, 'button1')">Transfer to list 2</button>
  </div>
  <div v-if="list2.length > 0" style="float: left; width: 40%">
    <h2>List 2</h2>
    <ul v-for="item in list2">
      <li>{{ item }}</li>
    </ul>
    <button id="button2" @click="transfer(list2, list1, 'button2')">Transfer to list 1</button>
  </div>
</div>
<script src="script.js"></script>
</body>
</html>